*.opendb
*.db
*.res
*.o
*.obj
*.exe
*.iobj
*.tlog
*.suo
*.aps
*.idb
*.pdb
*.ipdb
*.ipch
*.ilk
*.pch
*.log
*.user
*.dsk
*.tds
*.ddp
*.~dsk
*.~bpr
*.~cpp
*.~h
*.~ddp
*.~dfm
*.layout
.metadata
build-*
/1249908 Java (Ants)/Task/nbproject/private/
/1249908 Java (Ants)/Task/build/
/1249908 Java (Ants)/Task/dist/